<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app" style="margin-left: 200px;">
    <h1>Interpolation</h1>
    <p>{{ message }}</p>
    <p>{{ message + ' 파이팅 !' }}</p>
    <p v-html="prettyMessage"></p>

    <!-- directives -->
    <!-- v-로 시작하는 속성들 -->
    <h1>Directives</h1>
    <p v-show="isVisible">내가 보이나요?</p>
    <p v-if="isVisible">내가 보이나요?</p>

    <ul>
      <li v-for="(coffee, idx) in coffeeList" :key="idx">{{ coffee }}</li>
    </ul>

    <!-- v-on(이벤트 핸들러) -->
    <p>{{ count }}</p>
    <button v-on:click="addOne">+1</button>

    <!-- v-bind -->
    <!-- HTML 요소의 속성에 Vue의 data를 "연결"해주는 디렉티브 -->
    <br><br>
    <img v-bind:src="imgSrc" v-bind:Alt="imgAlt">

    <!-- v-model (양방향 바인딩) -->
    <p>{{ userInput }}</p>
    <input type="text" v-model="userInput">

    <!-- computed -->
    <!-- 데이터를 기반으로 하는 "계산된 속성" -->
    <!-- 제 2의 data -->
    <!-- 특징: 리턴값이 반드시 있어야 한다 / 메서드와 달리 "캐싱"이 된다. / 종속된 데이터 값이 변할 때만 호출된다. -->
    <!-- 데이터가 여러개일 때 그 중 하나의 값이 변하면 호출됨 -->
    <p>{{ oddNumbers }}</p>

    <p>{{ sum }}</p>
    <button @click="increaseNum1">increase num1</button>
  </div>


  <!-- CDN 먼저 갖고 오기 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'Vue 열공하자',
        prettyMessage: '<mark>하이라이팅 되서 보임 ~~~</mark>',
        isVisible: false,
        coffeeList: ['자바칩 프라푸치노', '콜드브루', '모카프라푸치노', '카페라떼',],
        count: 0,
        imgSrc: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ72PRQNa22zD2BiLEDx9n7xNOTBoMIk0B40A&usqp=CAU',
        imgAlt: 'cafe Latte',
        userInput: '',
        numbers: [1, 2, 3, 4, 5, 6, 7, 8],
        num1: 0,
        num2: 0,
      },
      computed: {
        sum: function() {
          console.log('sum 호출됨 !')
          return this.num1 + this.num2
        },
        oddNumbers: function() {
          const newNums = this.numbers.filter((number) => {
            return number % 2  // 만약 1이면 참
          })
          return newNums
        },
      },
      methods: {
        // addOne() {}, // 최신 문법. 함수 줄여서 쓸 수 있음
        addOne: function() {
          this.count += 1  // == this.count++
        },
        increaseNum1: function() {
          this.num1 += 1
        },
      },
      watch: {
        // 어떤 data 값이 변경됐을 때
        // "다른 일"을 하고 싶은 경우
        count: function(newVal, oldVal) {
          console.log('새로운 값', newVal)
          console.log('기존 값', oldVal)
        }
      },
    })

  </script>
</body>
</html>