/* 아래에 코드를 작성하시오. */
body {
  margin: 0;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1030;
  height: 60px;


  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem;
}

.nav-menus > a {
  text-decoration: none;
  color: black;
  margin: 0 1rem;
}

section {
  height: 500px;
  margin-top: 60px;
  background-image: url('images/main.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-image {
  width: 100%;
}

.product-header {
  margin: 2rem 0;
}

.product-header > h3 {
  text-align: center;
}

.card-body {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

footer > a {
  margin: 0 1rem;
}

footer img {
  height: 45px;
}